html, body {
	margin: 0;
	padding: 0;
	height:100%;
	-webkit-font-smoothing: antialiased;
	box-sizing: border-box;
	line-height: 1;
	background-color: #f7f7ff;
}

*, *:before, *:after {
	box-sizing: inherit;
}

div {
	/* border: 1px solid chocolate; */ 
}

ul {
	list-style: none;
	padding: 0;
	text-align: center;
}

img {
	height: 2rem;
	width: 2rem;
	margin: 0 2.5rem;
	display: inline-block;
	/* vertical-align: middle; */
}

.content {
	margin: 0 auto;
	padding: 0 1rem;
	width: 900px;
}

/*Logo Appearance */
.logo {
	display: block;
	top:0; bottom:0; left:0; right:0;
	margin: 0 auto;
	width: 200px;
	height: 200px;
}

/* Input Field */
form#useradd {
    text-align: center;
}

.inputbox {
	-webkit-appearance: textfield;
	background-color: #f7f7ff;
	width: 50%;
	-webkit-user-select: text;
	cursor: auto;
	border-width: 2px;
	border-style: inset;
	border-color: #070600;
	border-radius: 6px;
	font-size: 2rem;
}

.additem {
	background-color: #EA526F;
	cursor: pointer;
	border:none;
	display: inline-block;
	border-radius: 1.25rem;
	width: 2.5rem;
	height: 2.5rem;
	margin: 1.25rem 5px;
	font-size: 2rem;
	color:#f7f7ff;
	box-shadow: none;
}

/* The List Appaerance */
.listcontainer {
	border-width: 2px;
	border: 3px dashed #EA526F;
	border-radius: 6px
}

.listtitle {
	border: none;
	border-radius: 6px;
	background-color: #EA526F;
	color: #f7f7ff;
	box-shadow: none;
	text-align: center;
	margin: 0.625rem 0.625rem;
}

h1 {
	font-family: 'Yeseva One', sans-serif;
	font-size: 2.35rem;
	padding: 1rem;
	letter-spacing: 0.15rem;
}

.listcontainer .grocery {
	color: #070600;
	font-family: 'Merriweather Sans', sans-serif;
	font-size: 1.5rem;
	letter-spacing: 0.03rem
}

.listcontainer .grocery > li {
    padding: 1.5rem 0;
    margin: 0 0.625rem;
}

.listcontainer .grocery > li:hover {
   	cursor: pointer;
   	background-color: #e792a2;
   	border: none;
	border-radius: 6px;
}

.listcontainer .grocery > li.linethrough {
	text-decoration: line-through;
}

/* List Icons */
img.checked {
	float: left;
}

img.checked:hover, img.crossed:hover {
	color: white;
}

img.crossed {
	float: right;
}

/* Footer Button Appearance */
/*.buttons .options {
	font-family: 'Merriweather', sans-serif;
	color: #f7f7ff;
	font-size: 1rem;
	font-style: italic;
	font-weight: 100;
	text-align: center;
	margin-top: 1rem;
}

.buttons .options > button {
	background-color: #EA526F;
	border:none;
	display: inline-block; 
	border-radius: 2.5rem;
	width: 4.5rem;
	height: 4.5rem;
	margin: 1.25rem 15px;
	/* position: relative; */
	/* top: 50%; */
	/* transform: translateY(-50%); */
	/*text-align: center;
	vertical-align: top;
}

.buttons .options > button:hover {
	cursor: pointer;
}

p {
	font-family: 'Merriweather Sans', sans-serif;
	font-size: 0.9rem;
	color: #EA526F;
	text-align: center;
	padding: 1rem;
	font-style: italic;
}

.options > button:nth-child(2) {
	margin-top: 3.625rem; 
} */

/* <====== Media Queries =====================================> */

/* 960px or smaller */
/* e.g. iPad Portrait */
/* Portfolio with 2 column layout */
@media screen and (max-width: 960px) {

	#container {
		padding: 0;
	}

	.content {
		padding: 0 5%;
		width: 98%;
	}

	input.inputbox {
		line-height: 20px;
		width: 80%;
		font-size: 20px;
		height: 40px;
	}

	.listcontainer .grocery {
		font-size: 14px;
	}	

	img.checked, img.crossed {
		margin: 0;
	}
}